<%= form_with(model: @tweet )do |form| %>

  <%= "USERNAME:"%><br>
  <h4><%= @tweet.user_name%><h4><br>
  <%= form.label :content, "Edit Tweet:" %><br>
  <%= form.text_area :content, size: "50x5" %><br>

  <%= form.submit "Submit" %><br>
<% end %>
<li><%= link_to('Home', tweets_path) %></li>