<h1><%= @tweet.user_name %></h1>

<p><%= @article.content %></p>

<ul>
  <li><%= link_to "Edit", edit_tweets_path(@tweet) %></li>
  <li><%= link_to "Destroy", tweets_path(@tweet) %></li>
</ul>

<%= link_to('Home', tweets_path) %>