<h3>Login Form</h3>
<%= form_with model: @user do |form| %>
  <%= form.label :user_name, "Enter Your User Name:" %><br>
  <%= form.text_field :user_name %><br>

  Enter Your Password:<br>
  <%= form.password_field :password %><br>

  <%= form.submit "Submit" %><br>
<%end%>